*.BRIK
*.HEAD
*.nii
*.gz
*.img
*.zip
*.mat
*.lev
.files/
tsplot_index
*.ppm
*.par
*.rms
*.con
*.frf
*.min
*.vol
*.tiff
*.trg
*.grp
*lcon
*~
RESULTS/
ds005/
ds200/

*.DS_Store
*.pyc

# Data directories
Neurovault_data/
*_OLD*/

*.nii.gz
input/data/

*.ipynb_checkpoints
